{% extends 'base.html' %}
{% load static %}
{% block content %}
    <body>
        <div class="post_page">
            <!--***** nav menu start ****** -->
            {% include 'banner.html' %}

            <!--***** nav menu end ****** -->
            <div class="second_container">
                <!--***** posts_container start ****** -->
                <div class="main_section">
                    <div class="posts_container">
                        <!--                    ЗДЕСЬ ПОКАЗЫВАЮТСЯ ТЕ НА КОГО ВЫ ПОДПИСАНЫ. НАЖИМАЮ НА НИХ ВЫ ПЕРЕХОДИТЕ НА ИХ СТРАНИЦУ ПРОФИЛЯ -->
                        <div class="stories">
                            <div class="owl-carousel items owl-loaded owl-drag">
                                <div class="owl-stage-outer">
                                    <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all; width: 544px;">
                                        <div class="owl-item active" style="width: 62.857px; margin-right: 5px;">
                                            <div class="item_s">
                                                <img src="https://i.ibb.co/3S1hjKR/account1.jpg' %}">
                                                <p>zineb</p>
                                            </div>
                                        </div>
                                        <div class="owl-item " style="width: 62.857px; margin-right: 5px;">
                                            <div class="item_s">
                                                <img src="https://i.ibb.co/kD6tj9T/account2.jpg' %}">
                                                <p>ikram</p>
                                            </div>
                                        </div>
                                        <div class="owl-item " style="width: 62.857px; margin-right: 5px;">
                                            <div class="item_s">
                                                <img src="https://i.ibb.co/kD6tj9T/account2.jpg' %}">
                                                <p>ikram</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="posts">
                            {% for item in publications %}
                                <div class="post">
                                    <div class="info">
                                        <div class="person">
                                            <img src="https://i.ibb.co/3S1hjKR/account1.jpg">
                                            <a href="{% url 'user-profile' item.author.username %}">{{ item.author.username }}</a>
                                            <span class="circle">.</span>
                                            <span>{{ item.created_at }}</span>
                                        </div>
                                        <div class="more">
                                            <img src="{% static 'images/show_more.png' %}" alt="show more">
                                        </div>
                                    </div>
                                    <div class="image">
                                        <img src="{{ item.preview.url }}">
                                    </div>
                                    <div class="desc">
                                        <div class="icons">
                                            <div class="icon_left d-flex">
                                                <div class="like">
                                                    {% if item.user_likes %}
                                                        <img
                                                            src="{% static 'images/heart.png' %}"
                                                            data-item-id="{{ item.id }}"
                                                            alt="Liked"
                                                            onclick="toggleLike(this)"
                                                        >
                                                    {% else %}
                                                        <img
                                                            src="{% static 'images/love.png' %}"
                                                            data-item-id="{{ item.id }}"
                                                            alt="Not Liked"
                                                            onclick="toggleLike(this)"
                                                        >
                                                    {% endif %}
                                                </div>
                                                <div class="chat">
                                                    <button type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#message_modal">
                                                        <img src="{% static 'images/bubble-chat.png' %}">
                                                    </button>
                                                </div>
                                                <div class="send">
                                                    <button type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#send_message_modal">
                                                        <img src="{% static 'images/send.png' %}">
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="save not_saved">
                                                <img class="hide saved" src="{% static 'images/save_black.png' %}">
                                                <img class="not_saved" src="{% static 'images/save-instagram.png' %}">
                                            </div>
                                        </div>
                                        <div class="liked">
                                            <a class="bold" href="#">{{ item.likes.count }} likes</a>
                                        </div>
                                        <div class="post_desc">
                                            <p>
                                                <a class="bold" href="#">zineb</a> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima accusantium aperiam quod non minus cumque, recusandae hic soluta harum aut nulla...
                                            </p>

                                            <!-- Чекбокс для управления видимостью -->
                                            <input type="checkbox" id="toggle-comments-{{ item.id }}" class="toggle-comments">
                                            <label for="toggle-comments-{{ item.id }}" class="gray">Посмотреть все {{ item.comments.count }} комментариев</label>

                                            <!-- Контейнер для комментариев -->
                                            <div class="comments-container" id="comments-container-{{ item.id }}">
                                                {% for comment in item.comments.all %}
                                                    <div class="comment-item">
                                                        {% if user.avatar %}
                                                            <img src="{{ comment.author.avatar.url }}" alt="{{ comment.user.first_name }}'s avatar" class="comment-avatar">
                                                        {% else %}
                                                        <img src="{% static 'images/anonim.png' %}" alt="{{ comment.user.first_name }}'s avatar" class="comment-avatar">
                                                        <p>
                                                            <a class="bold" href="#">{{ comment.author.first_name }}</a> {{ comment.text }}
                                                        </p>
                                                        {% endif %}
                                                    </div>
                                                {% endfor %}
                                            </div>

                                            <!-- Форма для добавления комментариев -->
                                            <form class="comment-form" data-item-id="{{ item.id }}">
                                                <input type="text" placeholder="Add a comment..." class="comment-input">
                                                <button type="submit" class="comment-btn">Post</button>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
                <!--***** posts_container end ****** -->
                <!--***** followers_container start ****** -->
                <div class="followers_container">
                    <div>
                        <div class="cart">
                            <div>
                                <div class="img">
                                    <img src="{% static 'images/profile_img.jpg' %}" alt="">
                                </div>
                                <div class="info">
                                    <p class="name">Zineb_essoussi</p>
                                    <p class="second_name">Zim Ess</p>
                                </div>
                            </div>
                            <div class="switch">
                                <a href="#">Switch</a>
                            </div>
                        </div>
                        <!--                    ЗДЕСЬ ПОКАЗЫВАЮТСЯ ВСЕ ОСТАЛЬНЫЕ ПОЛЬЗОВАТЕЛИ, ТО ЕСТЬ НЕ ВАШИ ПОДПИСКИ  -->
                        <div class="suggestions">
                            <div class="title">
                                <h4>Suggestions for you</h4>
                                <a class="dark" href="#">See All</a>
                            </div>
                            {% for item in followers %}
                                <div class="cart">
                                    <div>
                                        <div class="img">
                                            <img src="{% static 'images/profile_img.jpg' %}" alt="">
                                        </div>
                                        <div class="info">
                                            <a href="{% url 'user-profile' item.username %}"><p class="name">{{ item.first_name }}</p></a>
                                            <p class="second_name">{{ item.username }}</p>
                                        </div>
                                    </div>
                                    <div class="switch">
                                        <form action="{% url 'toggle-follow' item.id %}" method="POST">
                                            {% csrf_token %}
                                            <button class="follow_text" type="submit">follow</button>
                                        </form>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!--***** followers_container end ****** -->
            </div>
            <!-- Modal for sending posts-->
            <div class="modal fade" id="send_message_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Share</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="send">
                                <div class="search_person">
                                    <p>To:</p>
                                    <input type="text" placeholder="Search">
                                </div>
                                <p>Suggested</p>
                                <div class="poeple">
                                    <div class="person">
                                        <div class="d-flex">
                                            <div class="img">
                                                <img src="{% static 'images/profile_img.jpg' %}" alt="">
                                            </div>
                                            <div class="content">
                                                <div class="person">
                                                    <h4>namePerson</h4>
                                                    <span>zim ess</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="circle">
                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="person">
                                    <div class="d-flex">
                                        <div class="img">
                                            <img src="{% static 'images/profile_img.jpg' %}" alt="">
                                        </div>
                                        <div class="content">
                                            <div class="person">
                                                <h4>namePerson</h4>
                                                <span>zim ess</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="circle">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary">Send</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal for add messages-->
            <div class="modal fade" id="message_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Comments</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="comments">
                                <div class="comment">
                                    <div class="d-flex">
                                        <div class="img">
                                            <img src="{% static 'images/profile_img.jpg' %}" alt="">
                                        </div>
                                        <div class="content">
                                            <div class="person">
                                                <h4>namePerson</h4>
                                                <span>3j</span>
                                            </div>
                                            <p>Wow amzing shot</p>
                                            <div class="replay">
                                                <button class="replay">replay</button>
                                                <button class="translation">see translation</button>
                                            </div>
                                            <div class="answers">
                                                <button class="see_comment">
                                                    <span class="hide_com">Hide all responses</span>
                                                    <span class="show_c">
                                                        <span class="line"></span> See the <span> 1 </span> answers </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="like">
                                        <img class="not_loved" src="{% static 'images/love.png' %}" alt="">
                                        <img class="loved" src="{% static 'images/heart.png' %}" alt="">
                                        <p> 55</p>
                                    </div>
                                </div>
                                <div class="responses">
                                    <div class="response comment">
                                        <div class="d-flex">
                                            <div class="img">
                                                <img src="{% static 'images/profile_img.jpg' %}" alt="">
                                            </div>
                                            <div class="content">
                                                <div class="person">
                                                    <h4>namePerson</h4>
                                                    <span>3j</span>
                                                </div>
                                                <p>Wow amzing shot</p>
                                                <div class="replay">
                                                    <button>replay</button>
                                                    <button>see translation</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="like">
                                            <img class="not_loved" src="{% static 'images/love.png' %}" alt="">
                                            <img class="loved" src="{% static 'images/heart.png' %}" alt="">
                                            <p> 55</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <form method="post">
                                <div class="input">
                                    <img src="{% static 'images/profile_img.jpg' %}" alt="">
                                    <input type="text" id="emoji_comment" placeholder="Add a comment..." />
                                </div>
                                <!-- <div class="emogi"><img src="{% static 'images/emogi.png' %}" alt=""></div> -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--Create model-->
        </div>
    <script src="{% static 'js/ajax_comment.js' %}"></script>
    </body>
{% endblock %}